@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items:center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.labelInput {
    display: grid;
    margin: 2%;
}

#formCadastroUsuario{
    background-color: beige;
    width: 36vw;
}

input {
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
}

#infoCadastro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid black;
    gap: 7%;
    font-family: 'Pixelify Sans', cursive;
}